[Unit]
Description=Selenium Hub service
After=network.target

[Service]
User=selenium
ExecStart=/usr/bin/java -jar /opt/selenium/selenium-server.jar hub
StandardOutput=file:/var/log/selenium/hub.log
StandardError=file:/var/log/selenium/hub.error.log

[Install]
WantedBy=multi-user.target
